{% extends template.htm %}

{% block title %}
<h2 class="text-center">Create an account</h2>
<hr>
{% end %}

{% block body %}
<script type="text/javascript" src="{{static_url('jquery/jquery.validate.min.js')}}"></script>
<div class="row">
  <div class="col-md-12">
	  {% if info %}
	  <div class="alert alert-danger alert-dismissable text-center">
		  <button type="button" class="close" data-dismiss="alert"
				  aria-hidden="true">
			  &times;
		  </button>
		  {% for each in info %}
			{{each}}
		  {% end %}
	  </div>
	  {% end %}
	  <form class="form" role="form" id="form" method="post" autocomplete="off">
		<div class="form-group col-md-6">
		  <label class="control-label text-danger">Username</label>
			<input class="form-control" name="username" id="username" type="text" placeholder="Username, login ID">
		</div>
		<div class="form-group col-md-6">
		  <label class="control-label text-muted">Display Name</label>
			<input class="form-control" name="nickname" id="nickname" type="text" placeholder="Nickname">
		</div>
		<div class="form-group col-md-6">
		  <label class="control-label text-danger">Password</label>
			<input class="form-control" name="password" id="password" type="password" placeholder="Password">
		</div>
		<div class="form-group col-md-6">
		  <label class="control-label text-danger">Password Again</label>
			<input class="form-control" name="password2" id="password2" type="password" placeholder="Repeat the password">
		</div>
		<div class="form-group col-md-12">
		  <label class="control-label text-muted">Email</label>
			<input class="form-control" name="email" id="email" type="text" placeholder="Email">
		</div>
		<div class="form-group col-md-12">
		  <label class="control-label text-muted">About Me</label>
			<textarea class="form-control" name="intro" id="intro" rows="10" placeholder="Write something about yourself. Markdown is supported."></textarea>
		</div>
		<div class="form-group col-md-12 text-center">
			<button type="submit" class="btn btn-success">Create User</button>
		</div>
	  </form>
  </div>

</div>


<script type="text/javascript">
  jQuery.extend(jQuery.validator.messages, {
	  email: "Please enter a valid email address",
  });

  $("#form").validate({
	rules: {
	  email: {
		remote: {
		  url: "/!check/newuser",
		  data: {
			email: function() {
			  return $( "#email" ).val();
			}
		  }
		}
	  },
	  password: {
		required: true,
		minlength: 6,
		maxlength: 16,
	  },
	  password2: {
		required: true,
		minlength: 6,
		maxlength: 16,
		equalTo: "#password",
	  },
	  username: {
		required: true,
		minlength: 2,
		maxlength: 16,
		remote: {
		  url: "/!check/newuser",
		  data: {
			username: function() {
			  return $( "#username" ).val();
			}
		  }
		}
	  }
	},

	messages: {
	  email: {
		remote: "Email already taken",
	  },
	  password: {
		required: "Please enter your password",
		minlength: "Password length 6 - 16",
		maxlength: "Password length 6 - 16",
	  },
	  password2: {
		required: "Please repeat your password",
		minlength: "Password length 6 - 16",
		maxlength: "Password length 6 - 16",
		equalTo: "Password not identical"
	  },
	  username: {
		required: "Please enter a username",
		minlength: "Username length 2 - 16",
		maxlength: "Username length 2 - 16",
		remote: "Username already taken",
	  }
	}
  });

</script>


{% end %}